@import url(https://fontlibrary.org//face/muli);

body {
    font-family: 'MuliRegular';
  
    margin: auto;
    text-align: center;  
}

button  {
  border: none;
  background: none;
  position: relative;
  top: -400px;
}
#previous{
  float: left;
  left: 5%;
}

#next{
  float: right;
  right: 5%;
}

h2 {
  font-weight: lighter;
}
